click==7.1.2
# Below is adapted from https://github.com/udacity/deep-reinforcement-learning/blob/55474449a112fa72323f484c4b7a498c8dc84be1/python/requirements.txt
Pillow>=4.2.1
PyYAML==5.3.1
docopt==0.6.2
grpcio==1.11.0
ipykernel==5.2.0
jupyter==1.0.0
matplotlib==3.2.1
numpy>=1.11.0
pandas==1.0.3
protobuf==3.5.2
pytest>=3.2.2
scipy==1.4.1
tensorflow==1.15.4
torch==0.4.0
